body {
  background-image: url(/todo_list_background.jpg);
}
h3 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 700;
}
.label {
  margin-left: 40%;
  display: inline-block;
  display: flex;
}
.Lis {
  list-style-type: none;
  font-size: large;
  font-weight: bold;
}

@media only screen and (max-width: 290px) {
  .container {
    width: 100% !important;
  }
}
@media only screen and (max-width: 290px) {
  .form-control {
    width: 100% !important;
  }
}
@media only screen and (max-width: 290px) {
  .btn {
    margin: 20px 20px 10px 30px;
  }
}
@media only screen and (max-width: 290px) {
  svg {
    width: 1em;
    height: 1.5em;
  }
}
@media only screen and (max-width: 290px) {
  .label {
    margin: 10px auto 10px auto;
  }
  .Btn1 {
    margin-bottom: 26px;
  }
}
